<style type="text/css">
	table.Main {
		width: 100%;
		border: none!important;
		table-layout:fixed;
	}
	table.Main > thead > tr > th { padding: 0px!important; border-width: 0px!important; }
	table.Main>tbody>tr>td {
		vertical-align: top;
		border: none!important;
	}

	.catCont {
		/*max-width: 250px;*/
	}
	.prodCont {
		padding-left: 10px;
		padding-right: 10px;
		/*min-width: 300px;*/
	}
	.purchCont {
		/*max-width: 300px;*/
	}

	.Item {
		padding: 3px;
	}

	.Cat:hover {
		color: #56A6CB!important;
		background-color: #E6E6E6;
	}
	.Cat.Selected {
		background-color: rgb(223, 192, 192);
	}
		
	.Prod {
		padding: 5px 5px 0px 5px;
		border: 1px solid rgb(197, 224, 226);
		margin-bottom: 10px;
		overflow: auto;
	}
	#ProdCont { overflow-y: auto; }
	.PName {
		font-size: 16px;
		color: rgba(0, 0, 0, 0.9);
	}
	.PCost {
		float: left;
		margin-top: 10px;
		font-weight: bold;
	}
	.PBay {
		float: right;
		background-color: rgb(83, 192, 83);
		color: #FFFFFF;
		padding: 5px;
		font-size: 18px;
	}
	.PDisable {
		cursor: default!important;
		background-color: silver!important;
	}

	.Bayz {
		padding: 3px;
		overflow: auto;
	}
	.Bayz:hover {
		background-color: rgb(242, 247, 249);
	}
	.BName {
		font-size: 14px;
		float: left;
		font-weight: bold;
	}
	.BRemove {
		float: right;
		background: url('Content/remove_small.png');
		height: 12px;
		width: 12px;
		background-repeat: no-repeat;
	}
	.BSum {
		margin: 6px 3px 6px 3px;
		font-size: 16px;
		font-weight: bold;
	}
	.BClear {
		text-align: center;
		color: black;
		font-size: 15px;
		padding: 8px;
		font-weight: bold;
		background-color: rgb(205, 218, 229);
		border-radius: 5px;
	}
</style>

<script src="Purchase.js"></script>

<table class="Main">
	<thead>
		<tr>
			<th style="width: 240px;"></th>
			<th style="/*width: 700px;*/"></th>
			<th style="width: 260px;"></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="catCont">
			<h2>Выберите категорию:</h2>
			<div ng-repeat="cat in Categories" ng-attr-id="{{'cat'+cat.Id}}" class="Item Cat Clickable" ng-click="catClick(cat);" ng-class="{ Selected: cat.Id == catSelected }">
				{{cat.Name}}
			</div>
		</td>
		<td class="prodCont">
			<h2 style="text-align: center;">Содержимое категории:</h2>
			<div id="ProdCont">
				<div ng-repeat="prod in Products" ng-attr-id="{{'prod'+prod.Id}}" class="Prod">
					<div class="PName">{{prod.Name}}</div>
					<div style="overflow: auto;">
						<div class="PCost">{{prod.Price.toLocaleString('ru') + ' руб.'}}</div>
						<div class="PBay Clickable" ng-click="prodClick(prod);" ng-class="{ PDisable: prod.isBay}">В корзину</div>
					</div>
				</div>
			</div>
		</td>
		<td class="purchCont">
			<div>
				<h2>Корзина</h2>
				<div style="max-height: 200px; overflow-y: auto;">
					<div ng-repeat="prod in Bayz" ng-attr-id="{{'bayz'+prod.Id}}" class="Bayz">
						<div class="BName">{{prod.Name}}</div>
						<div class="BRemove Clickable" ng-click="bayRemove(prod);"></div>
					</div>
				</div>
				<div class="BSum">
					{{'Сумма покупки: ' + Sum.toLocaleString('ru') + ' руб.'}}
				</div>
				<div class="BClear Clickable" ng-class="{ hide: Sum === 0 }" ng-click="clearAll();">Очистить корзину</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>